# MTurk credentials
auth.json
my-own-auth.json
*.Rapp.history
*.Rproj.user
*.RData
.Rhistory
*.fff
*.log
*.docx
*.tex
stats/kids/rsconnect/*
stats/adults/rsconnect/*
models/rsconnect/*
stats/rsconnect/*
stats/graphs/*
stats/simulations/*

papers/full_paper/raw_figures/*

papers/full_paper/manuscript_cache/*

papers/full_paper/manuscript_files/*

papers/full_paper/SI_appendix_files/*


papers/full_paper/paper_plots.Rmd

papers/full_paper/r-references.bib


stats/.Rhistory

.Rproj.user
