# MTurk credentials
auth.json
my-own-auth.json
*.Rapp.history
*.Rproj
*.RData
.Rhistory
*.fff
*.log
*.docx
*.tex
stats/kids/rsconnect/*
stats/adults/rsconnect/*
models/rsconnect/*
stats/rsconnect/*
stats/graphs/*
stats/simulations/*


stats/adults/*
stats/graphs/*
stats/kids/*
stats/simulations/*
stats/data_old/*

experiments/Ex2_novelty/Ex2_novelty_weak_not_used.htmlexperiments/Ex2_novelty/Ex2_novelty_weak_not_used.js

experiments/Ex2_preference/Ex2_preference_weak5.jsexperiments/Ex2_preferenceEx2_preference_weak5.htmlexperiments/Ex2_preferenceEx2_preference_weak4.jsexperiments/Ex2_preferenceEx2_preference_weak4.htmlexperiments/Ex2_preferenceEx2_preference_weak3.jsexperiments/Ex2_preferenceEx2_preference_weak3.htmlexperiments/Ex2_preferenceEx2_preference_weak2.jsexperiments/Ex2_preferenceEx2_preference_weak2.html

experiments/Ex6_child_novelty/*

experiments/Ex5_child_failed/*


papers/full_paper/raw_figures/*

papers/full_paper/manuscript_cache/*

papers/full_paper/manuscript_files/*

papers/full_paper/SI_appendix_files/*


papers/full_paper/paper_plots.Rmd

papers/full_paper/r-references.bib


stats/.Rhistory

.Rproj.user

papers/full_paper/models_new_prior.Rmd

submissions/*

*.aux

*.out

papers/full_paper/Supplementary_information_files/*
