.annotation.folded {
    height: 32px;
    overflow: hidden;
}

.ellipsis {
    float: left;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0px 4px 0px 4px;
    line-height: 95%;
    border-radius: 2px;
    cursor: pointer;
    margin-left: -35px;
    font-family: Courier New;
    font-size: 12px;
    margin-top: 4px
}

/* hack */
h2, h3 {
    display: inline;
}